/aclocal.m4
/autom4te.cache/
/config/compile
/config/config.guess
/config/config.sub
/config/missing
/configure
/src/config.hpp.in
/build/
/Makefile.in
/config/depcomp
/src/config.hpp.in~
/.cache/
/compile_commands.json
/configure~
